.card{
    background: linear-gradient(135deg, #4e0666, #05581B);
    border-color: white;
    color: black !important;
}
.card-header{
    font-size: larger;
    align-items: center;
    text-align: center;
}
.form-floating{
    color: black !important;
}
.card-header{
    color: white !important;
}